{% extends "base.html" %}

{% block content %}
  <h1>Drivers</h1>
  {% if driver_list %}
    <table class="table table-stripped ">
      <tr>
        <th>
          driver id
        </th>
        <th>
          driver username
        </th>
      </tr>
      {% for driver in driver_list %}
        <tr>
          <td>
            <a href={% url "taxi:driver-detail" driver.pk %}>
              {{ driver.pk }}
            </a>
          </td>
          <td>
            {{ driver.username }}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

{% endblock %}
